<div class="main-panel">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-left">
            <h5 class="title">Census on Persons with Disabilities</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">SURNAME (Apelyido) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Surname"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 px-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> GIVEN NAME (Pangalan) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Given Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-1 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> M.I </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="email"
                    placeholder="M.I"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> NICK NAME </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="email"
                    placeholder="Nick Name"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Date Of Birth </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="DOB"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">
                    place of birth
                    <span>(Lugar ng Kapanganakan)</span> </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Place Of Birth"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> gender </label>
                  <div class="row">
                    <div class="col-md-6 radio-content">
                      <div class="form-check">
                        <div class="form-check form-check-radio mb-3">
                          <label for="007441918513f" class="form-check-label"
                            ><input
                              id="007441918513f"
                              type="radio"
                              class="form-check-input"
                              value="radio0" />
                            male(lalaki)
                            <span class="form-check-sign"></span
                          ></label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 radio-content">
                      <div class="form-check">
                        <div class="form-check form-check-radio">
                          <label for="007441918513f" class="form-check-label"
                            ><input
                              id="007441918513f"
                              type="radio"
                              class="form-check-input"
                              value="radio0" />
                            female(babae)
                            <span class="form-check-sign"></span
                          ></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> pwd number </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="PWD No."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">SURNAME (Apelyido) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Surname"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 px-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> GIVEN NAME (Pangalan) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Given Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-1 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> M.I </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="email"
                    placeholder="M.I"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> NICK NAME </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="email"
                    placeholder="Nick Name"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 pr-md-1">
                <div class="form-group">
                  <label class="control-label"> civil status </label>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-check">
                        <div class="form-check form-check-radio mb-3">
                          <label for="007441918513f" class="form-check-label"
                            ><input
                              id="007441918513f"
                              type="radio"
                              class="form-check-input"
                              value="radio0" />
                            single
                            <span class="form-check-sign"></span
                          ></label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <div class="form-check form-check-radio">
                          <label for="007441918513f" class="form-check-label"
                            ><input
                              id="007441918513f"
                              type="radio"
                              class="form-check-input"
                              value="radio0" />
                            Married
                            <span class="form-check-sign"></span
                          ></label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check">
                        <div class="form-check form-check-radio">
                          <label for="007441918513f" class="form-check-label"
                            ><input
                              id="007441918513f"
                              type="radio"
                              class="form-check-input"
                              value="radio0" />
                            Widow
                            <span class="form-check-sign"></span
                          ></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label class="control-label"> No. Of Children </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="No. Of Children"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">address (tirahan)</label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Address"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 px-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Tel No. </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Tel No."
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Cellphone No. </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="text"
                    placeholder="Cellphone No."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">occupation</label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Occupation"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-8 px-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Address (Trabaho) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Address"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 pl-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Tel. No. </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    type="text"
                    placeholder="Tel. No."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> fathers's name </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Father's Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> occupation </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="occupation"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> mother's name </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Mother's Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> occupation </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="occupation"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Spouse </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Spouse Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> occupation </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="occupation"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Guardian's name </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Guardian's Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> occupation </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="occupation"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1 text-left">
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="control-label"> Type of disability </label>
                      <div
                        *ngFor="let disability of disabilities; let i = index"
                      >
                        <div class="form-check mb-3">
                          <label
                            [for]="'checkbox' + i"
                            class="form-check-label"
                          >
                            <input
                              [id]="'checkbox' + i"
                              type="checkbox"
                              class="form-check-input"
                            />
                            <span class="form-check-sign"></span>
                            {{ disability }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <div class="form-check mb-3">
                        <label for="9cdca654de0d" class="form-check-label"
                          ><input
                            id="9cdca654de0d"
                            type="checkbox"
                            class="form-check-input"
                          />
                          <span class="form-check-sign"></span>
                          congenital/inborn
                        </label>
                      </div>
                      <div class="congenital">
                        <div
                          class="form-check mb-3"
                          *ngFor="
                            let congenitalInBorn of congenitalInBorns;
                            let i = index
                          "
                        >
                          <label
                            [for]="'checkbox' + i"
                            class="form-check-label"
                          >
                            <input
                              [id]="'checkbox' + i"
                              type="checkbox"
                              class="form-check-input"
                            />
                            <span class="form-check-sign"></span>
                            {{ congenitalInBorn }}
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check mb-3">
                        <label for="9cdca654de0d" class="form-check-label"
                          ><input
                            id="9cdca654de0d"
                            type="checkbox"
                            class="form-check-input"
                          />
                          <span class="form-check-sign"></span>
                          congenital/inborn
                        </label>
                      </div>
                      <div class="acquired">
                        <div
                          class="form-check mb-3"
                          *ngFor="let acquired of acquireds; let i = index"
                        >
                          <label
                            [for]="'checkbox' + i"
                            class="form-check-label"
                          >
                            <input
                              [id]="'checkbox' + i"
                              type="checkbox"
                              class="form-check-input"
                            />
                            <span class="form-check-sign"></span>
                            {{ acquired }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">
                    please specify condition below </label
                  ><textarea rows="3" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span
                  >Gadget/s used by the PWD (mga tulong sa pagkilos na ginagamit
                  ng PWD)</span
                >
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    wheelchair
                  </label>
                </div>
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    Others:
                    <div class="form-group">
                      <textarea rows="3" class="form-control"></textarea>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    crutches
                  </label>
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    hearing aid
                  </label>
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    eyeglasses
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span
                  >Rehab service/s (mga serbisyong pangrehab na ginagawa)</span
                >
              </div>
              <div class="col-md-6 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    nagbibigay ang serbisyo
                  </label>
                </div>
              </div>
              <div class="col-md-6 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    Hindi naibibigay ang serbisyo dahil:
                    <div class="form-group">
                      <textarea rows="3" class="form-control"></textarea>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span
                  >Any other member of the family with disability? Mayroon ka pa
                  bang ka-pamilyang may kapansanan?</span
                >
              </div>
              <div class="col-md-6 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    Yes
                  </label>
                </div>
              </div>
              <div class="col-md-6 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label"> Relation(Relasyon) </label
                  ><input
                    aria-describedby="addon-right addon-left"
                    placeholder="Relation"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>Religious Affiliation(Relihiyon)</span>
              </div>
              <div class="col-md-4 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    roman catholic
                  </label>
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    parish
                  </label>
                </div>
              </div>
              <div class="col-md-5 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">Others, Specify </label
                  ><textarea
                    _ngcontent-ng-c2569855916=""
                    rows="3"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>SACRAMENT RECEIVED(Mga sakramentong Natanggap)</span>
              </div>
              <div class="col-md-4 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    Baptism (Binyag)
                  </label>
                </div>
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    first communion (Kamunyon)
                  </label>
                </div>
              </div>
              <div class="col-md-3 pr-md-1 text-left">
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    confirmation (kumpil)
                  </label>
                </div>
                <div class="form-check mb-3">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    marriange (Kasal)
                  </label>
                </div>
              </div>
              <div class="col-md-5 pr-md-1 text-left">
                <div class="form-group">
                  <label class="control-label">confession (kumpisal) </label
                  ><textarea
                    rows="3"
                    class="form-control"
                    placeholder="Remarks"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <span>NAME OF SCHOOL (pinapasukan o pinasukan paaralan)</span>
              </div>
              <div class="col-md-5">
                <span>Level (Antas)</span>
              </div>
              <div class="col-md-7 pr-md-1 text-left">
                <div class="form-group">
                  <input
                    aria-describedby="addon-right addon-left"
                    type="text"
                    placeholder="Name Of School"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-5 pr-md-1 text-left">
                <div class="form-check mb-3 form-check-inline">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    elementary
                  </label>
                </div>
                <div class="form-check mb-3 form-check-inline">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    high school
                  </label>
                </div>
                <div class="form-check mb-3 form-check-inline">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    college
                  </label>
                </div>
                <div class="form-check mb-3 form-check-inline">
                  <label for="9cdca654de0d" class="form-check-label"
                    ><input
                      id="9cdca654de0d"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <span class="form-check-sign"></span>
                    others:
                    <div class="form-group">
                      <input
                        aria-describedby="addon-right addon-left"
                        type="text"
                        placeholder="Others"
                        class="form-control"
                      />
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <span
                  >INFORMANT'S NAME (Pangalan ng nagbigay ng Impormasyon) / DATE
                  (Petsa ng pagpirma)</span
                >
              </div>
              <div class="col-md-4">
                <span>RELATION (RELASYON)</span>
              </div>
              <div class="col-md-8 pr-md-1 text-left">
                <div class="form-group">
                  <input
                    aria-describedby="addon-right addon-left"
                    type="text"
                    placeholder="Informant Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-4 pr-md-1 text-left">
                <div class="form-group">
                  <input
                    aria-describedby="addon-right addon-left"
                    type="text"
                    placeholder="Relasyon"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1 out-of-box">
                DON'T FILL OUT THE BOX
              </div>
              <div class="col-md-8 pr-md-1 text-left">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label"> LAST NAME </label>
                      <input
                        aria-describedby="addon-right addon-left"
                        type="text"
                        placeholder="Last Name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label"> First NAME </label>
                      <input
                        aria-describedby="addon-right addon-left"
                        type="text"
                        placeholder="First Name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label"> Middle Initial </label>
                      <input
                        aria-describedby="addon-right addon-left"
                        type="text"
                        placeholder="Middle Initial"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-left">
              <button type="button" class="btn btn-success" fill="">
                <!---->Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet />
</div>
